In [94]:
# Import the dependencies.
import pandas as pd
import requests
import gmaps
# Import the API key.
from config import g_key
from IPython.display import display

In [95]:
city_data_df = pd.read_csv("weather_data/cities.csv")

In [96]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Latitude      float64
Longitude     float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [97]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [98]:
city_data_df.head()

,City_ID,City,Country,Date,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,ponta delgada,PT,2021-12-29 19:51:57,37.7333,-25.6667,63.50,82,75,11.50
1,1,martapura,ID,2021-12-29 19:51:57,-3.4167,114.8500,77.09,94,90,5.75
2,2,inongo,CD,2021-12-29 19:51:58,-1.9500,18.2667,75.42,75,100,3.51
3,3,ust-nera,RU,2021-12-29 19:51:58,64.5667,143.2000,-38.18,100,100,4.03
4,4,vaini,TO,2021-12-29 19:51:58,-21.2000,-175.2000,80.76,89,40,3.44

In [99]:
# Assign locations to array of latitude and longitude
Locations = city_data_df[["Latitude","Longitude"]]

# Get the max temp
max_temp = city_data_df["Max Temp"]

# Initialize an empty list for temps > 0
temps = []

for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(Locations,weights=temps,dissipating=False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# Assign locations to array of latitude and longitude
Locations = city_data_df[["Latitude","Longitude"]]

# Get the humidity
humidity = city_data_df["Humidity"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(Locations,weights=humidity,dissipating=False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# Assign locations to array of latitude and longitude
Locations = city_data_df[["Latitude","Longitude"]]

# Get the cloudiness
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(Locations,weights=cloudiness,dissipating=False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# Assign locations to array of latitude and longitude
Locations = city_data_df[["Latitude","Longitude"]]

# Get the cloudiness
wind_speed = city_data_df["Wind Speed"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(Locations,weights=wind_speed,dissipating=False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [103]:
# Ask the user to input the minimum temperature
min_temp = float(input("What is the minimum temperature that you would like for your trip? "))

# Ask the user to input the maximum temperature
max_temp = float(input("What is the maximum temperature that you would like for your trip? "))

preferred_cities_df  = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

What is the minimum temperature that you would like for your trip? 75
What is the maximum temperature that you would like for your trip? 90

,City_ID,City,Country,Date,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,martapura,ID,2021-12-29 19:51:57,-3.4167,114.8500,77.09,94,90,5.75
2,2,inongo,CD,2021-12-29 19:51:58,-1.9500,18.2667,75.42,75,100,3.51
4,4,vaini,TO,2021-12-29 19:51:58,-21.2000,-175.2000,80.76,89,40,3.44
15,15,ciudad bolivar,VE,2021-12-29 19:52:03,8.1222,-63.5497,85.75,56,100,11.05
16,16,butaritari,KI,2021-12-29 19:52:04,3.0707,172.7902,80.20,78,80,7.52
...,...,...,...,...,...,...,...,...,...,...
533,533,bahia blanca,AR,2021-12-29 19:57:02,-38.7196,-62.2724,86.52,42,40,19.57
536,536,nouadhibou,MR,2021-12-29 19:57:03,20.9310,-17.0347,76.98,33,0,4.61
538,538,neyyattinkara,IN,2021-12-29 19:57:04,8.4000,77.0833,78.66,78,1,4.41
544,544,poum,NC,2021-12-29 19:57:06,-20.2333,164.0167,80.29,82,98,16.64
548,548,biloxi,US,2021-12-29 19:57:09,30.3960,-88.8853,81.55,88,90,8.05

In [104]:
preferred_cities_df.notnull().sum()

City_ID       162
City          162
Country       162
Date          162
Latitude      162
Longitude     162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [105]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Latitude","Longitude"]].copy()
hotel_df["Hotel_Name"] = ""
hotel_df

               City Country  Max Temp  Latitude  Longitude Hotel_Name
1         martapura      ID     77.09   -3.4167   114.8500
2            inongo      CD     75.42   -1.9500    18.2667
4             vaini      TO     80.76  -21.2000  -175.2000
15   ciudad bolivar      VE     85.75    8.1222   -63.5497
16       butaritari      KI     80.20    3.0707   172.7902
..              ...     ...       ...       ...        ...        ...
533    bahia blanca      AR     86.52  -38.7196   -62.2724
536      nouadhibou      MR     76.98   20.9310   -17.0347
538   neyyattinkara      IN     78.66    8.4000    77.0833
544            poum      NC     80.29  -20.2333   164.0167
548          biloxi      US     81.55   30.3960   -88.8853

[162 rows x 6 columns]

In [110]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": ""
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lon = row["Longitude"]
    
    params["location"] = f"{lat},{lon}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url,params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [111]:
hotel_df.head(100)

,City,Country,Max Temp,Latitude,Longitude,Hotel_Name,Hotel Name
1,martapura,ID,77.09,-3.4167,114.8500,,Montana Hotel Syariah
2,inongo,CD,75.42,-1.9500,18.2667,,Hotel Du Lac
4,vaini,TO,80.76,-21.2000,-175.2000,,Keleti Beach Resort
15,ciudad bolivar,VE,85.75,8.1222,-63.5497,,Hotel Edi
16,butaritari,KI,80.20,3.0707,172.7902,,Isles Sunset Lodge
...,...,...,...,...,...,...,...
351,itamaraca,BR,84.88,-7.7478,-34.8256,,Special K's Bed & Breakfast
352,padilla,CO,83.89,3.2204,-76.3139,,La Granadina
354,kupang,ID,79.36,-10.1667,123.5833,,Hotel On The Rock by Prasanthi
355,padang,ID,76.51,-0.9492,100.3543,,Mercure Padang
356,galesong,ID,75.22,-5.3166,119.3661,,Sapriadi Appy

In [115]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [116]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Assign locations to array of latitude and longitude
Locations = hotel_df[["Latitude","Longitude"]]

# Get the cloudiness
max_temp = hotel_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(Locations,weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)

# Assign the marker layer
marker_layer = gmaps.marker_layer(Locations, info_box_content=hotel_info)

# add the heatmap layer
fig.add_layer(heat_layer)

# add the marker layer
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))